<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
<listeners>
<listener class-name="com.cap.hashing.Listeners"/>
<listener class-name="resourcess.ExtentReporterNG"/>

</listeners>
  <test thread-count="5" name="Validating user login Test" parallel="classes">
    <classes>
      <class name="com.cap.hashing.HomePageTest"/>
       </classes>
      </test>
      <test thread-count="5" name="Validating App Test" parallel="classes">
         
    <classes>
      <class name="com.cap.hashing.AppTest"/>
       </classes>
  </test> <!-- Test -->
      <test thread-count="5" name="Validating validate Text" parallel="classes">
    <classes>
      <class name="com.cap.hashing.ValidateText"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
